.main-container {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.inner-container {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-container {
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.second-container {}

.third-container {}

.first-container-inner {}

.forth-container {}

.forth-container-inner {}

.keep-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}